/Decision_trees_model.ipynb
/entrophy_gini_impurity_inform_gain.ipynb
/firstML_model.ipynb
/firstML_model.pkl
/heart.csv
/Heart_Disease_prdiction.ipynb
/inconsistancy_data.ipynb
/installation.ipynb
/KNN_model.ipynb
/logistic_regression.ipynb
/randomforest_model.ipynb
/save_model
/svm_model.ipynb